   {% load staticfiles %}
    <!--FOOTER SECTION -->
    <div id="footer">
        2014 www.yourdomain.com | All Right Reserved | Terms | Policies | Licenses

    </div>
    <!-- END FOOTER SECTION -->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
   <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/moment-with-locales.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-1.10.2.js' %}"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="{% static 'plugins/bootstrap.js' %}"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>
