{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
<div class="row">
{% if user.user_profile.img %}
    <img src="{{ user.user_profile.img.url }}" height="" width="" alt="..." class="img-circle">
{% else %}
    <img src="{% static 'default.png' %}" height="" width="" alt="..." class="img-circle">
{% endif %}
<form role="form" class="form-horizontal" method="POST" action="{% url 'update-profile' pk=object.pk %}" enctype="multipart/form-data">{% csrf_token %}
{{ form|crispy}}
<br/>
<button  class="btn btn-success" type="submit">{% trans 'Изменить' %}</button>
</form>
</div>
</div>
{% endblock %}